@import '../variables.scss';

.cardsInCat {
    // scroll: auto;
    display: flex;
    gap: 10px;
    margin-left: 0.15rem;
}

.card {
    width: 220px;
    height: 240px;
    border-radius: 10px;
    margin: 0 0 1rem 0;
    padding: 5px;
    color: $dark_gray;

    h3 {
        margin: 0 0 0.5rem 0;
        line-height: normal;
    }

    p {
        font-size: 12px;
        line-height: initial;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 0.5rem;
    }
}

.cardsInCat .done {
    border: 2px solid transparent;
    box-shadow: 0 2px 5px -2px $dark_gray;
}

.cardsInCat .done:hover {
    border: 2px solid $light_gray;
}

.cardsInCat .notAsked {
    border: 2px dashed $dark_gray;
    // background-color: $not_loaded;
}

.cardsInCat .loading {
    background-color: $orange;
}

.cardsInCat .error {
    background-color: $red;
}

.cardImageList {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    overflow-x: auto;

    .cardImage {
        margin: 0 0 0.5rem 0;
        height: 85px;
        width: 90px;
        object-fit: cover;
        border-radius: 5px;
    }
}
