@import '../variables.scss';

.cardsInCat {
    // scroll: auto;
    display: flex;
    gap: 10px;
}

.card {
    width: 220px;
    height: 340px;
    border-radius: 10px;
}   

.cardsInCat .done {
    background-color: $gray;
    border: 2px solid $gray;
}

.cardsInCat .done:hover {
    border: 2px solid $cyan;
}

.cardsInCat .notAsked {
    border: 2px dashed $dark_gray;
    // background-color: $not_loaded;
}

.cardsInCat .loading {
    background-color: $orange;
}

.cardsInCat .error {
    background-color: $red;
}

.cardImageList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.cardImage {
    margin: 0 auto;
    height: 85px;
    width: 90px;
    object-fit: contain;
    border-radius: 5px;
    background-color: $blue;
}

.cardImageList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.cardImage {
    margin: 0 auto;
    height: 85px;
    width: 85px;
    object-fit: contain;
}

.card {
    padding: 5px;
    color: $cyan;
}

.card h2 {
    font-size: 20px;
    line-height: 22px;
    height: 75px;
    font-weight: bold;
}

.card p {
    font-size: 12px;
    line-height: 11px;
    height: 60px;
}