@import '../variables.scss';

.cardsInCat {
    // scroll: auto;
    display: flex;
    gap: 10px;
}

.card {
    width: 30px;
    height: 60px;
    border-radius: 10px;
}   

.cardsInCat .done {
    background-color: $blue;
}

.cardsInCat .done:hover {
    background-color: $cyan;
}

.cardsInCat .notAsked {
    border: 2px dashed $dark_gray;
    // background-color: $not_loaded;
}

.cardsInCat .loading {
    background-color: $orange;
}

.cardsInCat .done {
    // background-color: white-smoke;
}

.cardsInCat .error {
    background-color: $red;
}

.cardImageList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.cardImage {
    margin: 0 auto;
    height: 85px;
    width: 85px;
    object-fit: contain;
}
